# 파이썬 시작하기 001~010

In [4]:
print('Hello World')

Hello World

In [5]:
print("Mary's cosmetics")

Mary's cosmetics

In [7]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [8]:
print('C:\Windows')

C:\Windows

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 줄바꿈 , \t 들여쓰기

안녕하세요.
만나서		반갑습니다.

In [11]:
print ("오늘은", "일요일")
# 오늘은 일요일

오늘은 일요일

In [13]:
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

In [14]:
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [24]:
print("first", end="");print("second")

firstsecond

In [25]:
print(5/3)

1.6666666666666667

# 파이썬 변수 011~020

In [33]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [44]:
시가총액 = 298000000000000
현재가 =50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [51]:
s = "hello"
t = "python"
print (s+'!',t)

hello! python

In [54]:
2 + 2 * 3
#8

8

In [57]:
a = "132"
print (type(a))
#str

<class 'str'>

In [68]:
num_str = "720"
num_int = int(num_str)
print (type(num_int))

<class 'int'>

In [71]:
num = 100
num_str = str(num)
print (type(num_str))

<class 'str'>

In [75]:
num = '15.79'
num_1 = float(num)
print (type(num_1))

<class 'float'>

In [82]:
year = "2020"
year_int=int(year)
print(year_int-3,year_int-2,year_int-1)

2017 2018 2019

In [84]:
cool = 48584
총금액 = cool*36
print(총금액)

1749024

# 파이썬 문자열 021~030

In [89]:
letters = 'python'
print (letters[0],letters[2])

p t

In [91]:
license_plate = "24가 2210"
print (license_plate[4:])

2210

In [94]:
string = "홀짝홀짝홀짝"
print (string[::2])

홀홀홀

In [97]:
string = "PYTHON"
print (string[::-1])

NOHTYP

In [106]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [108]:
phone_number2 = phone_number1.replace(" ", "")
print(phone_number2)

01011112222

In [110]:
url = "http://sharebook.kr"
url1 = url.split('.')
print(url1[-1])

kr

In [116]:
lang = 'python'
lang[0] = 'P'
print(lang)

#Error

TypeError: 'str' object does not support item assignment

In [122]:
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [124]:
string = 'abcd'
string.replace('b', 'B')
print(string)
# abcd

abcd

# 파이썬 문자열 031~040

In [129]:
a = "3"
b = "4"
print(a + b)
#34

34

In [131]:
print("Hi" * 3)
#HiHiHi

HiHiHi

In [134]:
a = '-'
print(a *80)

--------------------------------------------------------------------------------

In [137]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

In [153]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이:%d'%(name1,age1))
print('이름: %s 나이:%d'%(name2,age2))

이름: 김민수 나이:10
이름: 이철희 나이:13

In [158]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: {} 나이:{}'.format(name1,age1))
print('이름: {} 나이:{}'.format(name2,age2))

이름: 김민수 나이:10
이름: 이철희 나이:13

In [151]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름: {name1} 나이:{age1}')
print(f'이름: {name2} 나이:{age2}')

이름: 김민수 나이:10
이름: 이철희 나이:13

In [163]:
상장주식수 = "5,969,782,550"
상장주식수1 = 상장주식수.replace(',','')
상장주식수2 = int(상장주식수1)
print(상장주식수2,type(상장주식수2))

5969782550 <class 'int'>

In [166]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [167]:
data = "   삼성전자    "
data.replace(' ','')

'삼성전자'

# 파이썬 문자열 041~050

In [170]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [177]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [181]:
ticker = "hello"
print(ticker.capitalize())

Hello

In [183]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [185]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [186]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [188]:
a = "hello world"
a.split()

['hello', 'world']

In [189]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [190]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [195]:
data = "039490     "
data.rstrip()

'039490'

# 파이썬 리스트 051~060

In [200]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [205]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [207]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [209]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank [3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [213]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank [2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [214]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1 + lang2

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [218]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ",max(nums))
print("min: ",min(nums))

max:  7
min:  1

In [219]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [220]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [222]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

# 파이썬 리스트 061~070

In [223]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [224]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [225]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [226]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [233]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [235]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [236]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [237]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [239]:
string = "삼성전자/LG전자/Naver"
a=string.split('/')
a

['삼성전자', 'LG전자', 'Naver']

In [245]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플 071~080

In [249]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [252]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [258]:
a = (1, )
a

(1,)

In [259]:
t = (1, 2, 3)
t[0] = 'a'
# 리스트와 달리 원소값을 바꿀 수 없다

TypeError: 'tuple' object does not support item assignment

In [260]:
t = 1, 2, 3, 4
#튜플-소괄호없이 동작가능

In [263]:
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

In [268]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest1= list(interest)
type(interest1)

list

In [269]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest1=tuple(interest)
type(interest1)

tuple

In [272]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

#temp ??왜지

apple banana cake

In [273]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 파이썬 딕셔너리 081~100

In [2]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, b,c = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [3]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [4]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [7]:
#temp 이름의 비어있는 딕셔너리를 만들라.
temp ={}
temp

{}

In [9]:
a = {'메로나':1000, '폴라포':1200, '빵빠레':1800 }
a

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [10]:
a['죠스바']=1200
a['월드콘']=1500
a

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [22]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print(ice['메로나'])

1000

In [24]:
ice['메로나']=1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [25]:
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [27]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# 에러원인 : 누가바가 없잔슴

KeyError: '누가바'

In [30]:
인벤토리 = {'메로나' : [300,20],
        '비비빅' : [400,3],
        '죠스바' : [250, 100]}
인벤토리

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [34]:
print(인벤토리['메로나'][0],"원")

300 원

In [35]:
print(인벤토리['메로나'][1],"개")

20 개

In [37]:
인벤토리['월드콘']=[500,7]
인벤토리

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [44]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
ice

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [45]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
ice

[1200, 1200, 1800, 1500, 1000]

In [46]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
sum(ice)

6700

In [52]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [62]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
결과 = dict(zip(keys,vals))
결과

{'apple': 300, 'pear': 250, 'peach': 400}

In [67]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
close_table
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 파이썬 분기문 101~130

In [69]:
#파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
#bool

In [70]:
print(3 == 5)
#False

False

In [72]:
print(3 < 5)
#True

True

In [73]:
x = 4
print(1 < x < 5)
#True

True

In [74]:
print ((3 == 3) and (4 != 3))
#True

True

In [77]:
print(3 => 4)
#>=가 맞음

False

In [80]:
if 4 < 3:
    print("Hello World")
#아무것도 안나옴

In [81]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
#Hi, there.

Hi, there.

In [82]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
#3

1
2
4

In [83]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
#3,5

3
5

In [84]:
사용자입력 = input()
print(사용자입력*2)

 안녕하세요

안녕하세요안녕하세요

In [94]:
사용자입력 = int(input('숫자를 입력하세요:'))
print(사용자입력+10)

숫자를 입력하세요: 30

40

In [110]:
사용자입력 = input()
if int(사용자입력)%2 == 0 :
    print('짝수')
else :
    print('홀수')

 30

짝수

In [121]:
사용자입력 = int(input())
이십더하기 = 사용자입력+20

if 이십더하기 > 255 :
    print(255)
else :
    print(이십더하기)

 255

255

In [133]:
사용자입력 = int(input())
이십빼기 = 사용자입력-20

if 이십빼기 < 0 :
    print(0)
elif 이십빼기 > 255 :
    print(255)
else :
    print(이십빼기)

 3000

255

In [137]:
사용자시입력 = int(input('시:'))
사용자분입력 = int(input('분:'))
if 사용자분입력 == 0 :
    print ('정각입니다.')
else :
    print('정각이 아닙니다.')

시: 12
분: 0

정각입니다.

In [148]:
fruit = ["사과", "포도", "홍시"]
사용자입력 = input('정답인 과일은?')

if 사용자입력 in fruit :
    print ('정답입니다')
else :
    print ('오답입니다')

정답인 과일은? 포도

정답입니다

In [149]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
사용자입력 = input('원하는 종목은?')

if 사용자입력 in warn_investment_list :
    print ('투자 경고 종목입니다')
else :
    print ('투자 경고 종목이 아닙니다.')

원하는 종목은? Microsoft

투자 경고 종목입니다

In [159]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
사용자입력 = input('제가좋아하는계절은:')

if 사용자입력 in list(fruit.keys()):
    print ('정답입니다')
else :
    print ('오답입니다')

제가좋아하는계절은: 봄

정답입니다

In [161]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
사용자입력 = input('좋아하는과일은?')

if 사용자입력 in fruit.values():
    print ('정답입니다')
else :
    print ('오답입니다')

좋아하는과일은? 사과

정답입니다

In [181]:
사용자입력 = input()
if 사용자입력.islower() == True:
    print(사용자입력.upper())
else :
    print(사용자입력.lower())

 A

a

In [194]:
사용자입력 = int(input('score: '))
if 81<=사용자입력<=100 :
    print ('grade is A')
elif 61<=사용자입력<=80 :
    print ('grade is B')
elif 41<=사용자입력<=60 :
    print ('grade is C')
elif 21<=사용자입력<=40 :
    print ('grade is D')
elif 0<=사용자입력<=20 :
    print ('grade is F')

score:  90

grade is A

In [204]:
사용자입력 = input('입력:')
if 사용자입력[-2:] == '달러' :
    print (int(사용자입력[:-3])*1167,'원')
elif 사용자입력[-1:] == '엔' :
    print (int(사용자입력[:-2])*1.096,'원')
elif 사용자입력[-1:] == '유로' :
    print (int(사용자입력[:-3])*1268,'원')
elif 사용자입력[-2:] == '위안' :
    print (int(사용자입력[:-3])*171,'원')

입력: 100 위안

17100 원

In [211]:
숫자1 = int(input('입력:'))
숫자2 = int(input('입력:'))
숫자3 = int(input('입력:'))
숫자들 = 숫자1, 숫자2, 숫자3
print(max(숫자들))

입력: 1
입력: 23
입력: 3

23

In [226]:
통신사앞자리 = {'011':'SKT','016':'KT','019':'LGU','010':'알수없음'}
전화번호 = input('휴대전화 번호 입력:')
고객전화번호앞자리 = 전화번호[:3]

if 고객전화번호앞자리 in 통신사앞자리:
    고객통신사 = 통신사앞자리[고객전화번호앞자리]
    print('당신은',고객통신사,'사용자입니다')

휴대전화 번호 입력: 017-123-123

In [243]:
우편번호 = str(input('우편번호'))
앞세자리 = 우편번호[2]
if 앞세자리 in ['1','2','0'] :
    print ('강북구')
elif 앞세자리 in ['3','4','5'] :
    print ('도봉구')
elif 앞세자리 in ['6','7','8','9'] :
    print ('노원구')

우편번호 01689

노원구

In [249]:
주민번호 = str(input('주민번호'))
일곱자리 = 주민번호[7]
if 일곱자리 in ['1','3'] :
    print ('남자')
else :
    print ('여자')

주민번호 960814-3333011

남자

In [264]:
주민번호 = str(input('주민번호'))
팔구자리 = 주민번호[8:10]
if 팔구자리 in ['00','01','02','03','04','05','06','07','08']:
    print ('서울 입니다.')
else :
    print ('서울이 아닙니다')

주민번호 960814-3003011

서울 입니다.

In [287]:
주민번호 = input('주민번호')
계산1 = int(주민번호[0])*2+int(주민번호[1])*3+int(주민번호[2])*4+int(주민번호[3])*5+int(주민번호[4])*6+int(주민번호[5])*7+int(주민번호[7])*8+int(주민번호[8])*9+int(주민번호[9])*2+int(주민번호[10])*3+int(주민번호[11])*4+int(주민번호[12])*5
계산2 = 계산1 % 11
계산3 = str(11 - 계산2)

if 주민번호[-1] == 계산3[-1]:
    print('유효한 주민등록번호입니다.' )
else :
    print('유효하지 않은 주민등록번호입니다.' )

주민번호 821010-1635214

유효한 주민등록번호입니다.

In [301]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = int(btc['max_price'])-int(btc['min_price'])
if int(btc['opening_price']) + 변동폭 > int(btc['max_price']):
    print ('상승장')
else:
    print('하락장')

상승장

# 파이썬 반복문 131~200

In [304]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
#사과
#귤
#수박

사과
귤
수박

In [305]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [307]:
for 변수 in ["A", "B", "C"]:
  print(변수)

print("A")
print("B")
print("C")

A
B
C
A
B
C

In [315]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [318]:
for 변수 in [10,20,30]:
    print(변수)

10
20
30

In [319]:
for 변수 in [10,20,30]:
    print(변수)

10
20
30

In [321]:
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [323]:
for 변수 in ["++++",10,20,30]:
    print(변수)

++++
10
20
30

In [327]:
for 변수 in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------

In [328]:
리스트 = [100, 200, 300]
for a in 리스트:
    print(a+10)

110
210
310

In [329]:
리스트 = ["김밥", "라면", "튀김"]
for a in 리스트:
    print('오늘의 메뉴:',a)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [330]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for a in 리스트 :
    print(len(a))

6
4
4

In [334]:
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트 :
    print(a, len(a))

dog 3
cat 3
parrot 6

In [335]:
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트 :
    print(a[0])

d
c
p

In [338]:
리스트 = [1, 2, 3]
for a in 리스트 :
    print('3 x',a)

3 x 1
3 x 2
3 x 3

In [340]:
리스트 = [1, 2, 3]
for a in 리스트 :
    print('3 x',a,'=',3*a)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [344]:
리스트 = ["가", "나", "다", "라"]
리스트0 = 리스트[1:]
for a in 리스트0 :
    print (a)

나
다
라

In [345]:
리스트 = ["가", "나", "다", "라"]
리스트0 = 리스트[0],리스트[2]
for a in 리스트0 :
    print (a)

가
다

In [350]:
리스트 = ["가", "나", "다", "라"]
리스트1 = 리스트[::-1]

for a in 리스트1 :
    print (a)

라
다
나
가

In [352]:
리스트 = [3, -20, -3, 44]
for a in 리스트 :
    if a < 0:
        print(a)

-20
-3

In [353]:
리스트 = [3, 100, 23, 44]
for a in 리스트 :
    if a % 3 == 0:
        print(a)

3

In [356]:
리스트 = [13, 21, 12, 14, 30, 18]
for a in 리스트 :
    if (a % 3 == 0) and (a<20):
        print(a)

12
18

In [357]:
리스트 = ["I", "study", "python", "language", "!"]
for a in 리스트 :
    if len(a)>3:
        print(a)

study
python
language

In [358]:
리스트 = ["A", "b", "c", "D"]
for a in 리스트 :
    if a.isupper():
        print(a)

A
D

In [360]:
리스트 = ["A", "b", "c", "D"]
for a in 리스트 :
    if a.isupper() == False:
        print(a)

b
c

In [367]:
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트 :
    print(a[0].upper()+a[1:])

Dog
Cat
Parrot

In [380]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for a in 리스트 :
    파일이름 = a.split(".")[0]
    print(파일이름)

hello
ex01
intro

In [387]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트 :
    b = a.split('.')[1]
    if b == 'h' :
        print(a)

intra.h
define.h

In [392]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트 :
    b = a.split('.')[1]
    if (b == 'h') or (b == 'c') :
        print(a)

intra.h
intra.c
define.h

In [ ]:
for a in range(0,100):
    print (a)

In [398]:
for a in range(2002,2051,4):
    print (a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [399]:
for a in range(3,31,3):
    print (a)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for a in range(99,-1,-1):
    print (a)

In [402]:
for a in range(0,10):
    print (a/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [405]:
x = range(1,10)
for a in x :
    print(3,'x',a,'=',3*a)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [406]:
x = range(1,10,2)
for a in x :
    print(3,'x',a,'=',3*a)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [411]:
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [412]:
hab = 0
for i in range(1, 11,2):
    hab += i
print ("합 :", hab)

합 : 25

In [415]:
hab = 1
for i in range(1, 11):
    hab *= i
print ("곱 :", hab)

곱 : 3628800

In [417]:
price_list = [32100, 32150, 32000, 32500]
for a in range(4):
    print(price_list[a])

32100
32150
32000
32500

In [418]:
price_list = [32100, 32150, 32000, 32500]

for a in range(4):
    print(a,price_list[a])

0 32100
1 32150
2 32000
3 32500

In [425]:
price_list = [32100, 32150, 32000, 32500]
for a in range(4):
    print(3-a,price_list[a])

3 32100
2 32150
1 32000
0 32500

In [431]:
price_list = [32100, 32150, 32000, 32500]
for a in range(1, 4):
    print(100+(a-1)*10,price_list[a])

100 32150
110 32000
120 32500

In [433]:
my_list = ["가", "나", "다", "라"]
for a in range(0,3):
    print(my_list[a],my_list[a+1])

가 나
나 다
다 라

In [434]:
my_list = ["가", "나", "다", "라", "마"]
for a in range(0,3):
    print(my_list[a],my_list[a+1],my_list[a+2])

가 나 다
나 다 라
다 라 마

In [445]:
my_list = ["가", "나", "다", "라"]
for a in range(3,0,-1):
    print(my_list[a],my_list[a-1])

라 다
다 나
나 가

In [446]:
my_list = [100, 200, 400, 800]
for a in range(0,3):
    print(my_list[a+1]-my_list[a])

100
200
400

In [449]:
my_list = [100, 200, 400, 800, 1000, 1300]
for a in range(0,5):
    print(abs(my_list[a]+my_list[a+1]+my_list[a+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

IndexError: list index out of range

In [456]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for a in range(0,5):
    volatility.append(high_prices[a]-low_prices[a])
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [ ]:
stock = [ ["시가", 100,200,300], ["종가", 80,210,330] ]

In [ ]:
stock = { "시가": [100,200,300], "종가": [80,210,330] }

In [ ]:
stock = { "10/10": [80,110,70,90], "10/11": [210,230,190,200] }

In [463]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a :
        print(b,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [478]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart[::-1]:
    for b in a :
        print(b,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [479]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart[::-1]:
    for b in a[::-1] :
        print(b,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [481]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a :
        print(b,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [482]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a :
        print(b,'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [483]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a :
        print(b,'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [485]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for a in data :
    for b in a :
        print (b*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [486]:
for a in data :
    for b in a :
        print (b*1.00014)
    print ('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [493]:
result =[]
for a in data :
    for b in a :
        result.append(b*1.00014)
print (result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [503]:
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [522]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a in ohlc[1:] :
    b = a[-1]
    print(b)

100
190
310

In [530]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a in ohlc[1:] :
    if a[-1] >= a[0] :
        print(a[-1])

100
310

In [539]:
for a in ohlc[1:] :
    b = a[-1] - a[0]
    if b > 0 :
        print (b)

10

In [550]:
c = 0
for a in ohlc[1:] :
    b = a[-1] - a[0]
    c += b
print(c)

0

# 파이썬 함수 201~240

In [554]:
def print_coin():
    print("비트코인")

In [558]:
print_coin()

비트코인

In [561]:
for a in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [564]:
def print_coins() :
    for a in range(100):
        print('비트코인')

In [ ]:
#함수가 정의되기 전에 먼저 실행되었음

In [ ]:
A
B
C
A
B

In [ ]:
A
C
B

In [ ]:
A
C
B
E
D

In [ ]:
B
A

In [ ]:
B
C
B
C
B
C
A

In [ ]:
안녕 
Hi

In [ ]:
7
15

In [ ]:
() 안에 문자열이 있어야하는데 없어서

In [ ]:
str과 int를 더할 수가 없어서

In [567]:
def print_with_smile(문자열) :
    print(문자열,':D')

In [569]:
print_with_smile('안녕하세요')

안녕하세요 :D

In [571]:
def print_upper_price(가격) :
    print(가격*1.3)

In [578]:
def print_sum (a,b):
    print (a+b)

In [581]:
def print_arithmetic_operation (a,b):
    print (a+b)
    print (a-b)
    print (a*b)
    print (a/b)

In [582]:
def print_max (a,v,c):
    print (max(a,v,c))

In [585]:
def print_reverse(문자열):
    print(문자열[::-1])

In [590]:
def print_score(문자열):
    합계 = sum(문자열)
    수 = len(문자열)
    print(합계/수)
print_score ([1, 2, 3])

2.0

In [595]:
def print_even(text):
    for a in text :
        if a % 2 == 0 :
            print(a)

In [605]:
def print_keys(dict):
    for a in dict.keys():
        print(a)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [606]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key (my_dict,날짜):
    print (my_dict.get(날짜))

In [617]:
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [619]:
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

printmxn("아이엠어보이유알어걸", 3)

[15450, 15050, 15550]
[14900]
[]
[]

In [624]:
def calc_monthly_salary(annual_salary):
    print (int(annual_salary/12))
calc_monthly_salary(12000000)

1000000

In [ ]:
왼쪽:100
오른쪽:200

In [625]:
왼쪽:200
오른쪽:100

In [ ]:
#에러. 함수 안의 변수는 외부사용 불가. 리턴을 써야함

In [627]:
def make_url(a):
    url = 'www.'+ a + '.com'
    return url
make_url("naver")

'www.naver.com'

In [629]:
def make_list(a):
    return list(a)
make_list("abcd")

['a', 'b', 'c', 'd']

In [644]:
def pickup_even(a):
    result = []
    for x in a:
        if x % 2 == 0 :
            result.append(x)
    return result
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [651]:
def convert_int(a):
    return int(a.replace(',',''))
convert_int("1,234,567")

1234567

In [ ]:
22

In [ ]:
22

In [ ]:
140

In [ ]:
16

In [ ]:
28

# 파이썬 모듈 - 제외

# 파이썬 클래스

In [ ]:
클래스 = 함수들의 제목, 객체 = 클래스의 결과

In [653]:
class Human:
    pass

In [655]:
class Human:
    pass
areum = Human()

In [663]:
class Human:
    print ('응애응애')
areum = Human()

응애응애

In [667]:
class Human:
    def __init__(self, 이름, 나이, 성별):
        self.이름 = 이름
        self.나이 = 나이
        self.성별 = 성별
areum = Human("아름", 25, "여자")
print('이름:',areum.이름,',','나이:',areum.나이,',','성별:',areum.성별)

이름: 아름 , 나이: 25 , 성별: 여자

In [671]:
class Human:
    def __init__(self, 이름, 나이, 성별):
        self.이름 = 이름
        self.나이 = 나이
        self.성별 = 성별
    def who(self):
        print(f'이름: {self.이름}, 나이: {self.나이}, 성별: {self.성별}')
areum = Human("아름", 25, "여자")
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [673]:
class Human:
    def __init__(self, 이름, 나이, 성별):
        self.이름 = 이름
        self.나이 = 나이
        self.성별 = 성별
    def who(self):
        print(f'이름: {self.이름}, 나이: {self.나이}, 성별: {self.성별}')
    def setInfo(self, 이름, 나이, 성별):
        self.이름 = 이름
        self.나이 = 나이
        self.성별 = 성별
areum = Human("모름", 0, "모름")
areum.who()
areum.setInfo("아름", 25, "여자")
areum.who()

이름: 모름, 나이: 0, 성별: 모름
이름: 아름, 나이: 25, 성별: 여자

In [ ]:
class Stock:
    pass

In [679]:
class Stock:
    def __init__(self,종목명,종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드

삼성 = Stock("삼성전자", "005930")
print(삼성.종목명)

삼성전자

In [687]:
class Stock:
    def __init__(self,종목명,종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
    def set_name(self,종목명):
        self.종목명 = 종목명
    def set_code(self,종목코드):
        self.종목코드 = 종목코드
    def get_name(self):
        return self.종목명
    def get_code(self):
        return self.종목코드

삼성 = Stock("삼성전자", "005930")
print(삼성.종목명)
print(삼성.종목코드)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [690]:
class Stock:
    def __init__(self,종목명,종목코드,PER,PBR,배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
    def set_name(self,종목명):
        self.종목명 = 종목명
    def set_code(self,종목코드):
        self.종목코드 = 종목코드
    def get_name(self):
        return self.종목명
    def get_code(self):
        return self.종목코드
삼성 = Stock("삼성전자", "005930",15.79,1.33,2.83)

In [704]:
class Stock:
    def __init__(self,종목명,종목코드,PER,PBR,배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
    def set_name(self,종목명):
        self.종목명 = 종목명
    def set_code(self,종목코드):
        self.종목코드 = 종목코드
    def get_name(self):
        return self.종목명
    def get_code(self):
        return self.종목코드
    def set_per(self,PER):
        self.PER = PER
    def set_pbr(self,PBR):
        self.PBR = PBR
    def set_dividend(self,배당수익률):
        self.배당수익률 = 배당수익률
        
종목 = []
삼성 = Stock("삼성전자", "005930",15.79,1.33,2.83)
현대 = Stock('현대차','005380',8.70,0.35,4.27)
LG = Stock('LG전자','066570',317.34,0.69,1.37)

종목.append(삼성)
종목.append(현대)
종목.append(LG)

for a in 종목 :
    print(a.종목코드, a.PER)

005930 15.79
005380 8.7
066570 317.34

In [768]:
import random

class Account:
    account_count = 0
    입금카운트 = 0
    
    def __init__(self, 예금주, 잔액):
        self.은행이름 = "SC은행"
        self.예금주 = 예금주
        self.잔액 = 잔액

        q = random.randint(0,999)
        w = random.randint(0,99)
        e = random.randint(0,999999)
        q = str(q).zfill(3)
        w = str(w).zfill(2)
        e = str(e).zfill(6)
        self.계좌번호 = q+'-'+w+'-'+e
        Account.account_count +=1
        
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self,입금):
        if 입금 >= 1:
            self.잔액 += 입금

            self.입금카운트 += 1
            if self.입금카운트 % 5 ==0:
                self.잔액 = (self.잔액 * 1.01)
        
    def withdraw (self,출금):
        if 출금 <= self.잔액:
            self.잔액 -= 출금
        else :
            print('출금불가')
    def display_info(self):
        print("은행이름: ", self.은행이름)
        print("예금주: ", self.예금주)
        print("계좌번호: ", self.계좌번호)
        print("잔고: ", f"{self.잔액:,}")
    def withdraw_history(self):
        for 출금 in self.withdraw_log:
            print(출금)

    def deposit_history(self):
        for 입금 in self.deposit_log:
            print(입금)


data = []
a = Account('이지안',100000000)
s = Account('박시준',345)
d = Account('박미성',785)
data.append(a)
data.append(s)
data.append(d)

for p in data:
    if p.잔액 > 1000000:
        p.display_info()

은행이름:  SC은행
예금주:  이지안
계좌번호:  766-01-329014
잔고:  100,000,000

In [782]:
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자전차(차):
    def __init__(self,바퀴,가격,구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계
    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)
        print("구동계 ", self.구동계)

class 자동차(차):
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.정보 = 바퀴,가격
    
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100
구동계  시마노

In [784]:
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")

나 = 자식()
나.호출()

자식호출

In [785]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
      
나 = 자식()

자식생성

In [787]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()

자식생성
부모생성

# 파일 입출력과 예외처리

In [790]:
f = open("매수종목1.txt",mode = 'wt', encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [791]:
f = open("매수종목2.txt",mode = 'wt', encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER")
f.close()

In [793]:
import csv

f = open("매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [794]:
f = open("매수종목1.txt", encoding="utf-8")
lines = f.readlines()

code = []
for line in lines:
    codes = line.strip()
    code.append(codes)

print(code)
f.close()

['005930', '005380', '035420']

In [795]:
f = open("매수종목2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()     # '\n' 제거
    k, v = line.split()
    #print(k, v)
    data[k] = v

print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [796]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [797]:
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [798]:
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

In [799]:
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [800]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료