# 파이썬 시작하기 001~010

In [4]:
print('Hello World')

Hello World

In [5]:
print("Mary's cosmetics")

Mary's cosmetics

In [7]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [8]:
print('C:\Windows')

C:\Windows

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 줄바꿈 , \t 들여쓰기

안녕하세요.
만나서		반갑습니다.

In [11]:
print ("오늘은", "일요일")
# 오늘은 일요일

오늘은 일요일

In [13]:
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

In [14]:
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [24]:
print("first", end="");print("second")

firstsecond

In [25]:
print(5/3)

1.6666666666666667

# 파이썬 변수 011~020

In [33]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [44]:
시가총액 = 298000000000000
현재가 =50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [51]:
s = "hello"
t = "python"
print (s+'!',t)

hello! python

In [54]:
2 + 2 * 3
#8

8

In [57]:
a = "132"
print (type(a))
#str

<class 'str'>

In [68]:
num_str = "720"
num_int = int(num_str)
print (type(num_int))

<class 'int'>

In [71]:
num = 100
num_str = str(num)
print (type(num_str))

<class 'str'>

In [75]:
num = '15.79'
num_1 = float(num)
print (type(num_1))

<class 'float'>

In [82]:
year = "2020"
year_int=int(year)
print(year_int-3,year_int-2,year_int-1)

2017 2018 2019

In [84]:
cool = 48584
총금액 = cool*36
print(총금액)

1749024

# 파이썬 문자열 021~030

In [89]:
letters = 'python'
print (letters[0],letters[2])

p t

In [91]:
license_plate = "24가 2210"
print (license_plate[4:])

2210

In [94]:
string = "홀짝홀짝홀짝"
print (string[::2])

홀홀홀

In [97]:
string = "PYTHON"
print (string[::-1])

NOHTYP

In [106]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [108]:
phone_number2 = phone_number1.replace(" ", "")
print(phone_number2)

01011112222

In [110]:
url = "http://sharebook.kr"
url1 = url.split('.')
print(url1[-1])

kr

In [116]:
lang = 'python'
lang[0] = 'P'
print(lang)

#Error

TypeError: 'str' object does not support item assignment

In [122]:
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [124]:
string = 'abcd'
string.replace('b', 'B')
print(string)
# abcd

abcd

# 파이썬 문자열 031~040

In [129]:
a = "3"
b = "4"
print(a + b)
#34

34

In [131]:
print("Hi" * 3)
#HiHiHi

HiHiHi

In [134]:
a = '-'
print(a *80)

--------------------------------------------------------------------------------

In [137]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

In [153]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이:%d'%(name1,age1))
print('이름: %s 나이:%d'%(name2,age2))

이름: 김민수 나이:10
이름: 이철희 나이:13

In [158]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: {} 나이:{}'.format(name1,age1))
print('이름: {} 나이:{}'.format(name2,age2))

이름: 김민수 나이:10
이름: 이철희 나이:13

In [151]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름: {name1} 나이:{age1}')
print(f'이름: {name2} 나이:{age2}')

이름: 김민수 나이:10
이름: 이철희 나이:13

In [163]:
상장주식수 = "5,969,782,550"
상장주식수1 = 상장주식수.replace(',','')
상장주식수2 = int(상장주식수1)
print(상장주식수2,type(상장주식수2))

5969782550 <class 'int'>

In [166]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [167]:
data = "   삼성전자    "
data.replace(' ','')

'삼성전자'

# 파이썬 문자열 041~050

In [170]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [177]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [181]:
ticker = "hello"
print(ticker.capitalize())

Hello

In [183]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [185]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [186]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [188]:
a = "hello world"
a.split()

['hello', 'world']

In [189]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [190]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [195]:
data = "039490     "
data.rstrip()

'039490'

# 파이썬 리스트 051~060

In [200]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [205]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [207]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [209]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank [3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [213]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank [2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [214]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1 + lang2

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [218]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ",max(nums))
print("min: ",min(nums))

max:  7
min:  1

In [219]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [220]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [222]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

# 파이썬 리스트 061~070

In [223]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [224]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [225]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [226]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [233]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [235]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [236]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [237]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [239]:
string = "삼성전자/LG전자/Naver"
a=string.split('/')
a

['삼성전자', 'LG전자', 'Naver']

In [245]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플 071~080

In [249]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [252]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [258]:
a = (1, )
a

(1,)

In [259]:
t = (1, 2, 3)
t[0] = 'a'
# 리스트와 달리 원소값을 바꿀 수 없다

TypeError: 'tuple' object does not support item assignment

In [260]:
t = 1, 2, 3, 4
#튜플-소괄호없이 동작가능

In [263]:
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

In [268]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest1= list(interest)
type(interest1)

list

In [269]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest1=tuple(interest)
type(interest1)

tuple

In [272]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

#temp ??왜지

apple banana cake

In [273]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)